<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>易品</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>易品</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx9ead5d0591d84b3a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41E11101</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>alisdkdemo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>EPin-IOS</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.2</string>
	<key>Item0</key>
	<string>uppaysdk</string>
	<key>Item1</key>
	<string>uppaywallet</string>
	<key>Item2</key>
	<string>uppayx1</string>
	<key>Item3</key>
	<string>uppayx2</string>
	<key>Item4</key>
	<string>uppayx3</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>iosamap</string>
		<string>urlscheme</string>
		<string>urlscheme2</string>
		<string>urlscheme3</string>
		<string>urlscheme4</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqq</string>
		<string>mqqopensdkfriend</string>
		<string>mqqapi</string>
		<string>mqqconnect</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqopensdkapi</string>
		<string>wtloginmqq</string>
		<string>weixin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>是否允许使用你的蓝牙</string>
	<key>NSCameraUsageDescription</key>
	<string>是否允许使用你的相机</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>是否始终获取您的当前位置</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>&quot;易品&quot;想访问你的相册?</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>0.png</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutionTypeShare</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>花积分</string>
			<key>UIApplicationShortcutItemType</key>
			<string>first</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>1.png</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutionTypeShare</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>半价购</string>
			<key>UIApplicationShortcutItemType</key>
			<string>publicPosition</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string></string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
